.info-h {
  font-size: 9vh;
  width: 10%;
  color: white;
  margin-left: 25vh;
  margin-top: 10vh;
}

.info-p {
  color: white;
  width: 50vh;
  margin-left: 25vh;
}

.book-btn {
  margin-left: 18vh;
  margin-top: 5vh;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  background-color: rgba(9, 95, 68);
  color: white;
  border: solid 1px;
  cursor: pointer;
  clear: left;
  transition: all 0.5s ease-in-out;
}

.book-btn:hover {
  color: black;
  background-color: white;
  border-color: black;
}


article{
  height: 600px;
  width: 450px;
  position: absolute;
  top: 10%;
  left: 70%;
  overflow-y: auto;
  color: rgb(0, 0, 0);
}

img{
  width: 100%;
  border-radius: 10px;
}


article div{
  background-color: white;
  margin:10px 0 ;
  border-radius: 10px;
}

.search-info{
  padding: 10px;
}


.search-info button{
  padding: 4px 20px;
  background-color:rgb(27, 115, 56) ;
  color: white;
  border-radius: 5px;
  border: none;

}
